<div class="section">
	text
</div>


<!--use modal for text-->
<div id="design">
	<div class="row">
		<div class="col col--1-of-4">
			<a href="#modal" class="modal">
				<img src="" alt=""> test
			</a>
		</div>
	</div>
</div>

<section class="modal--fade" id="modal" tabindex="-1" role="dialog" aria-hidden="true">

	<div class="modal-inner">
		<div class="modal-content">
			<div id="pong-inject"></div>
		</div>
	</div>

	<a href="#!" class="modal-close" title="Close this modal" data-close="Close" data-dismiss="modal"></a>
</section>
