html {
	font-family: 'Oswald', sans-serif;
}

.container {
	padding-left: 10%;
	padding-right: 10%;
}

#header {
	margin-top: 10%;
	height: 600px;
}

#header-links {
	background-color: rgb(77, 77, 77);
}

#header-links li:first-child {
	margin-left: 0px;
}

#header-links li {
	font-size: 2.5em;
	padding-right: 3%;
	padding-left: 3%;
	margin-left: -5px;
	display: inline;
	color: white;
	cursor: pointer;
	cursor: hand;
}

.design {
	background-color: rgb(243, 105, 108);
}

.video {
	background-color: rgb(136, 219, 218);
}

.music {
	background-color: rgb(175, 216, 114);
}

.text {
	background-color: rgb(85, 170, 229);
}

.about {
	background-color: rgb(77, 77, 77);
}

.active {
	background-color: black;
	color: white;
}

@media (max-width: 1000px) {
	#header-links li {
		margin-left: 0;
		display: block;
		color: white;
		cursor: pointer;
		cursor: hand;
	}
	#header-links {
		background-color: white;
	}
}
