//variables
$transition: 0.2s ease 0s;
$font-stack: 'Fjalla one',
sans-serif;
$header-height: 500px;
$design-color: rgb(250, 0, 120);
$video-color: rgb(220, 0, 120);
$music-color: rgb(200, 0, 120);
$text-color: rgb(180, 0, 120);
$about-color: rgb(150, 0, 120);
$background-color-links:rgb(150, 0, 120);
//
//
html {
	font-family: $font-stack;
}

h1 {
	font-size: 2em;
}

.container {
	padding-left: 10%;
	padding-right: 10%;
}

#header {
	margin-top: 10%;
	height: $header-height;
}

#header-links {
	padding-top: 5px;
	background-color: $background-color-links;
}

#header-links li:first-child {
	margin-left: 0px;
}

#header-links li {
	font-size: 2.5em;
	padding-right: 3%;
	padding-left: 3%;
	padding-top: 5px;
	margin-left: -5px;
	display: inline;
	color: white;
	cursor: pointer;
	cursor: hand;
	transition: border-bottom $transition;
}

.design {
	background-color: $design-color;
	border-bottom: solid 0px;
}

.video {
	background-color: $video-color;
	border-bottom: solid 0px;
}

.music {
	background-color: $music-color;
	border-bottom: solid 0px;
}

.text {
	background-color: $text-color;
	border-bottom: solid 0px;
}

.about {
	background-color: $about-color;
	border-bottom: solid 0px;
}

.active {
	border-bottom: solid black 2px;
	transition: border-bottom $transition;
}

@media (max-width: 1000px) {
	#header-links li {
		margin-left: 0;
		display: block;
		color: white;
		cursor: pointer;
		cursor: hand;
	}
	#header-links {
		padding-top: 0;
		background-color: white;
	}
}

#main {
	padding-top: 2%;
}
